<div class="container">
    <h1>Orden de compra</h1>
  
    <div class="list-container">
  
      <div class="column-container">
        <div class="list"
             cdkDropList
             #itemList="cdkDropList"
             [cdkDropListData]="items"
             [cdkDropListConnectedTo]="[doneList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Resultados</h2>

          <div class="container">
              <div class="form-group">
                <label>Buscar:</label>
                <input type="text" [formControl]="search" />
              </div>
              <div class="form-group">
                <button (click)="searchItems()" class="btn btn-dark">Buscar</button>
              </div>
          </div>

          <mat-card *ngFor="let item of items" cdkDrag>
              <img mat-card-image src="{{item.img}}" alt="">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              
            </mat-card-header>
            <mat-card-content>
              <div id="div-description">
                  <p>{{item.description}}</p>
              </div>
              <div id="div-price">
                <p>{{item.price | currency}}</p>
                <button mat-button (click) = "addItemToCart(item)">Agregar</button>
              </div>
             </mat-card-content>
          </mat-card>
        </div>
      </div>
  
      <div class="column-container">
        <div class="list"
             cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="itemsCart"
             [cdkDropListConnectedTo]="itemList"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Carrito</h2>
          <p>Elementos en el carrito: {{ numItems }} Total: {{ totalCost }}</p>
          <mat-card class="item-cart" *ngFor="let itemCart of itemsCart" cdkDrag>
              <img mat-card-image class="img-cart" src="{{itemCart.img}}" alt="">
              <mat-card-header>
                  <mat-card-title class="title-item-cart">{{itemCart.name}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <div class="div-description">
                  </div>
                  <div class="div-price-cart">
                    <p>{{ itemCart.price | currency }}</p>
                    <button mat-button (click) = "deleteItemFromCart(itemCart)">Eliminar</button>
                  </div>
                 </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
