.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .list-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  
  }
  
  .column-container {
    width: 600px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: RGBA(255, 255, 255, 0.05);
  }
  
  .list {
    border: RGBA(46, 49, 49, .7) solid 1px;
    border-radius: 2px;
  }
  
  .list-item {
    margin: 10px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  a {
    text-decoration: none;
    color: dodgerblue;
  }
  
  mat-card img{
    object-fit: cover;
    width: 100px;
    float: left;
  }

  mat-card {
    margin: 1em;
    cursor: pointer;
    height: 100px;
    border-style: solid;
    border-width: 1px;
  }

  mat-card-header {
    margin-left: 0px;
  }

  mat-card-actions {
    margin-left: 420px;
  }

  mat-card-subtitle {
    margin-left: 380px; 
  }

  mat-card-title {
    font-size: 15px;
    font-weight: bold;
  }

  #div-description {
    margin-left: 90px;
    width: 350px;
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
  }

  #div-price {
    align-content: center;
    text-align: center;
    width: 80px;
    margin-left: 460px;
    margin-top: -80px;
    font-weight: bold;
  }

  .item-cart{
    height: 80px;
  }

  .img-cart{
    width: 55px;
  }

  .div-price-cart{
    padding-left: 430px;
    margin-top: -75px;
    text-align: center;
    font-weight: bold;
  }

  .title-item-cart{
    padding-top: 35px;
    padding-left: 10px;
  }